#main {
    display: grid;
    grid-template-areas: 
    "contain contain contain contain"
    "header header header header"
    "display display display history"
    "footer footer footer footer";
    grid-gap: 5px;
    /* max-width: 800px; */
    /* width: 75%; */
    /* margin: 0 auto; */
    background-color: rgb(248, 233, 195);
}

#upperContainer{
    grid-area: contain;
    background-image:  url(assets/orange-cloud.jpeg);
    background-position: 0 -300px;
    background-size: 100%;
    padding-bottom: 75px;
    border-bottom: 8px solid rgb(137, 184, 199);
    
}


nav{
    display: grid;
    grid-template-areas: 
    "logo maps news severe more";
    text-align: center;
    font-size: 40px;
    color: white;
    background-color: rgba(211, 211, 211, 0.425);
    height: 100px;
    width: 100%;
}

nav img{
    height: 80px;
    grid-area: logo;
    padding-top: 10px;
}

#maps{
    grid-area: maps;
    margin-top: 40px;
}

#news{
    grid-area: news;
    margin-top: 40px;
}

#severe-weather{
    grid-area: severe;
    margin-top: 40px;
}

#more{
    grid-area: more;
    margin-top: 40px;
}

h1, #label{
    color: white;

}

#weather-input{
    grid-area: wInput;
}

#header {
    grid-area: header;
   text-align: center;
   background-color: rgba(211, 211, 211, 0.356);
   max-width: 800px;
   width: 35%;
   margin: 0 auto;
   padding-bottom: 25px;
   border-radius: 10px;
   
}

.display{
    grid-area: display;
    text-align: center;
    padding-top: 10px;
    margin-left: 10px;
    padding-bottom: 10px;
    line-height: 26pt;
    max-width: 800px; 
    width: 75%;
    margin: 0 auto;
    /* background-color: rgb(255, 243, 232); */
}

#displayBackground{
    
    /* border: 1px solid rgb(34, 118, 139); */
    background-color: white;
    border: 1px solid goldenrod;
    border-radius: 10px;

}

div.history {
    grid-area: history;
}

li{
    cursor: pointer;
}

#recent{
    text-align: center;
}

.future-forcast{
    display: grid;
    grid-template-areas: 
    "today tomorrow day-after .";
    margin: 25px;
    text-align: center;
    grid-gap: 5px;

}

#today-temp{
grid-area: today;
line-height: 26pt;
white-space: nowrap;
/* font-family: Arial, Helvetica, sans-serif; */
}

#tomorrow-temp{
grid-area: tomorrow;
line-height: 26pt;
white-space: nowrap;
/* font-family: Arial, Helvetica, sans-serif; */
}

#day-after-temp{
 grid-area: day-after;
 line-height: 26pt;
 white-space: nowrap;
 /* font-family: Arial, Helvetica, sans-serif; */

}

footer{
    grid-area: footer;
    text-align: center;
    background-color: rgb(253, 219, 132);
    position: sticky;
}

